body
{
  font-family: "Montserrat", sans-serif;
  background-color: #212529;
  text-align: center;
}

h2
{
  color: silver;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h1
{
  color: white;
  font-size: 48px;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.error_message
{
  color: purple;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.table
{
  width: 50%;
  margin: auto;
}

.footer
{
  color: gray;
  font-size: smaller;
  margin-top: 8rem;
}
